footer {
  background: #000000;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  padding: 2px 20px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.footerImages {
  height: 20px;
  margin: 0px 10px
}

.footerLink {
  color: white;
}

.followMeText {
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  margin: 10px 0;
}