.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg);
  border-bottom: 1px solid var(--border);
  color: #fff;
  padding: 1rem;
}

.navbar-center {
  display: flex;
  gap: 4rem;
}

.navbar a {
  color: var(--text-h);
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: var(--accent);
}